<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<table border="1">
  <tr>
    <th>STT</th>
    <th>Song Name</th>
    <th>Author</th>
    <th>Catalog</th>
    <th>PathFile</th>
  </tr>
  <tr>
    <th:block th:each="s:${list}">
    <td th:text="${s.getSongName()}"></td>
    <td th:text="${s.getAuthor()}"></td>
    <td th:text="${s.getCatalog()}"></td>
    <td>
      <audio th:attr="src=@{'/files/'+${s.pathFile}}" controls></audio>
    </td>
      <td><a th:href="@{'/delete/'+${s.getId()}}">Delete</a></td>
      <td><a th:href="@{'/edit/'+${s.getId()}}">edit</a></td>
    </th:block>
  </tr>
</table>
<a href="/createForm">Create</a>

</body>
</html>